@mixin light-custom {
    --primary: rgb(49, 94, 248); // #315ef8
    --second: rgb(243, 243, 246); // #f3f3f6
    --sidebar-sub-title: rgba(38,47,156,.5); // new
}

@mixin dark-custom {
    --primary: rgb(49, 94, 248); // #315ef8
    --second: rgb(38, 38, 44); // #26262c
    --sidebar-sub-title: hsla(0, 0%, 100%, .5); // new
}

@mixin chat-message-header-custom {
    margin-top: 0px;
}

@mixin chat-message-action-date-custom {
    text-align: center;
    margin: 10px 0 4px;
}

.chat-message-bottom-custom {
    margin-top: 10px;
    display: flex;
    align-items: center;
  
    .chat-message-actions {
      display: flex;
      box-sizing: border-box;
      font-size: 12px;
      align-items: flex-end;
      justify-content: space-between;
      transition: all ease 0.3s;
      transform: scale(0.9) translateY(5px);
      margin: 0 0 4px;
      opacity: 0;
      pointer-events: none;
  
      .chat-input-actions {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  
    .chat-model-name {
      font-size: 12px;
      color: var(--black);
      margin-left: 6px;
    }
  }